<div class="container">
    <div class="title"><h3>Home Page</h3></div>
    <div class="details">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ea ducimus, nemo provident est et quam nisi vero fuga tempore nulla delectus rem atque minima, labore consectetur quos dolorem odit. Exercitationem quae omnis amet delectus repudiandae! Molestiae ratione nam cum consequatur reiciendis sed magnam repellendus odit vitae quibusdam doloremque, deleniti, omnis libero illo fugit non voluptates quisquam aliquam, maiores perferendis enim alias quam maxime.</p>
</div>
</div>