<div>
    <app-child>
        <h3>Some Heading</h3>
            <p #para>
                1
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero autem, non laboriosam, iure accusamus, esse beatae quo nesciunt inventore error enim id neque quas architecto cum facilis eaque delectus. Voluptatum!
            </p>
            <p #para>
                2
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero autem, non laboriosam, iure accusamus, esse beatae quo nesciunt inventore error enim id neque quas architecto cum facilis eaque delectus. Voluptatum!
            </p>
            <p #para>
                3
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero autem, non laboriosam, iure accusamus, esse beatae quo nesciunt inventore error enim id neque quas architecto cum facilis eaque delectus. Voluptatum!
            </p>
            <app-test [name]="'henry lofslou'">
            </app-test>
            <app-test  [name]="'nina lofslou'"></app-test>
            <app-test  [name]="'carreon lofslou'"></app-test>

    </app-child>
</div>
<!-- <button (click)="showTest()">test</button> -->