<header>
  <div class="header-logo">
      <h2>User Management</h2>
  </div>
  <div class="header-nav">

      <div class="dropdown" *ngIf="isLoggedIn">
        <button class="dropbtn">Dashboard
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/dashboard/overview">Overview</a>
          <a routerLink="/dashboard/stats">Stats</a>
          <!-- <a routerLink="/dashobard/more">More Link</a> -->
        </div>
      </div>
      <a routerLink="/">HOME</a>
      <a routerLink="/login" *ngIf="!isLoggedIn">LOGIN</a>
      <a *ngIf="isLoggedIn" (click)="OnLogout()">LOGOUT</a>
  </div>
</header>
