.main-container{
    margin: 50px 150px;
    border: solid 1px black;
}
.header{
    background-color: rgb(29, 29, 81);
    height: 35px;
    display: flex;
    align-items: center;
}
a{
text-decoration: none;
color: rgb(180, 180, 188);
font-size: 12px;

margin-left: 20px;

}